*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: raleway;
}
@font-face {
    font-family: raleway;
    src: url(../fonts/raleway.ttf);
}
#bg-for-header{
	background: rgba(69, 116, 142, 0.76);
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}
#wrapper{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
#header{
	position: relative;
	display: flex;
	flex-direction: column;
}
#header-bg{
	position: absolute;
	background: url(../img/bg-head.jpg) no-repeat;
	background-size: cover;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: blur(3px);
	z-index: -2;
}
#header-home-for-children{
	margin-top: 40px;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#header-menu{
	margin-right: auto;
	display: flex;
	flex-direction: row;
	width: 600px;
	justify-content: space-between;
	align-items: flex-end;
}
#header-title{
	margin-right: auto;
	margin-left: auto;
}
#header-title > a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 36pt;
}
#header-menu > a{
	display: block;
	text-decoration: none;
	color: #bbbbbb;
	font-size: 18pt;
}
#epic-text{
	display: flex;
	flex-direction: column;
	height: 300px;
	margin: auto;
	justify-content: space-between;
}
#epic-text span{
	color: #fff;
	font-size: 36pt;
}
#epic-text p{
	color: #fff;
	font-size: 24pt;
}
#epic-text button{
	background: none;
	border: solid 1px #fff;
	border-radius: 5px;
	padding: 5px;
	font-size: 18px;
	color: #fff;
	align-self: flex-end;
}
.info{
	background: #999;
	height: 500px;
	border: solid 1px;
}
